.App {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: antiquewhite;
  min-height: 875px;
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

ul{
  padding-left: 0;
}
ul li {
  list-style-type: none;
}

hr {
  width: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
