.App {
  text-align: center;
  width: 40%;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.group{
  border: 1px solid blue;
  padding: 15px;
  width: 70%;
  margin: auto;
}
.eventOfChild{
  border: 1px solid red;
  width: 40%;
  margin: auto;
  padding: 10px;
}
.titleClick{
  margin-bottom: 10px;
}
.corlorClick{
  color: red
}

.order-detail{
  width: 30%;
  border: 1px solid #e8e3e3;
  float: left;
  margin: 7px;
}

.total{
  text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
