body{
    font-family: sans-serif;
}
td {
    padding: 0px 10px;
}
.top-header {
    width: 100%;
    background: url(images/bg-top.jpg);
    background-size: cover;
    margin-bottom: 20px;
}
.top-header .bg-menu{
    margin-top: 0;
}
.th-l-content1 {
    margin-top: 50px;
    margin-bottom: 100px;
}
.th-l-content1 h2 {
    font-size: 34px;
    line-height: 37px;
    color: #c90421;
    padding: 10px 0;
    margin: 0;
    position: relative;
    text-shadow: 0px 1px #000;
}
.th-l-content2 {
    width: 100%;
    float: left;
}
.th-l-content2 h3 {
    padding: 10px 20px;
    background: rgba(20, 138, 206, 0.69);
    border-radius: 10px;
    display: inline-block;
}
.th-l-content2 h3 p {
    color: #fff;
    font-size: 30px;
    margin: 0;
}
.bg-th-r {
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.44);
    padding-bottom: 150px;
    padding-top: 20px;
}
.bg-th-r h3 {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    color: #001dff;
}
.bg-th-r h3 span {
    width: 100%;
    float: left;
}
.bg-th-r h3 span:last-child {
    margin-top: 10px;
}
.box-sub-book-now {
    width: 92%;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.box-sub-book-now .input-group {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.box-sub-book-now .input-group .input-control {
    box-shadow: none;
    border: solid 1px #fff;
    border-radius: 0px;
    color: red;
    border: 1px solid #fff;
    background: #e0e3ef;
    padding: 3px;
    width: 100%;
    height: 45px;
    font-size: 13px;
}
#btnSend {
    background: #f5b836;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    line-height: 50px;
    border-radius: 0;
    font-size: 20px;
}
.bg-th-r p {
    width: 100%;
    float: left;
    padding: 0px 15px;
    font-size: 14px;
    color: #000;
    font-style: italic;
}
.service .title, .home-price .bg, .home-about .bg, .home-cus .bg, footer .bg{
    margin-left: -15px;
}
.nav-main {
    height: auto;
    background: rgba(255, 255, 255, 0.44);
}
ul.nav-menu li {
    padding: 15px 0px;
}
ul.nav-menu li:hover a {
    border: none;
    background: none;
    color: #f90707;
    line-height: initial;
    height: auto;
    border-right: solid 1px #f90707;
}
ul.nav-menu li a {
    font-size: 18px;
    color: #ffffff;
    line-height: initial;
    height: auto;
    border-right: solid 1px #ffffff;
}
ul.nav-menu li {
    padding: 15px 0px;
}
ul.nav-menu li:last-child a {
    border: none;
}
.header-service {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
.header-service p {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.1;
    color: #1871c7;
    border-bottom: solid 1px #1871c7;
    width: auto;
    display: inline-block;
    line-height: 45px;
    font-weight: bolder;
}
.box-product-hot {
    margin-top: 0px;
    width: 100%;
    float: left;
}
.box-product-hot ul.body-pro li {
    width: 32%;
    float: left;
    margin-bottom: 15px;
}
.box-product-hot ul.body-pro li .img-view {
    width: 100%;
    float: left;
    height: 181px;
    overflow: hidden;
}
.box-product-hot ul.body-pro li .img-view img {
    width: auto;
    margin: 0px;
    max-width: 100%;
    height: auto;
}
.box-product-hot ul.body-pro li .link-view h3 {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #1871c7;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.box-product-hot ul.body-pro li:hover .link-view h3 {
    color: #ef3434;
}
.pro-warranty {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #1871c7;
    line-height: 26px;
    height: 50px;
    overflow: hidden;
}
.box-product-hot ul.body-pro li:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
}
.header-book-car {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #1871c7;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.book-car {
    padding-left: 15px;
}
.content-all-bookcar {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-left: 15px;
    height: 240px;
}
.content-slide-service li {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.content-slide-service li img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
}
.bc-name {
    font-size: 16px;
    color: #1871c7;
    line-height: 35px;
    font-weight: bold;
}
.bc-thime {
    font-size: 16px;
    color: #1871c7;
    line-height: 35px;
    font-style: italic;
}
.bc-thime span {
    font-style: normal;
}
.home-pro {
    width: 100%;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
.home-pro .cate-header.sub-top {
    width: 100%;
    float: left;
    margin-top: 0px !important;
    text-align: center;
}
.home-pro .box-pro-home .txt-name-sub {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}
.home-pro .box-pro-home .txt-name-sub a {
    font-size: 30px;
    text-transform: uppercase;
    color: #1871c7;
    font-weight: bold;
    border-bottom: solid 1px #1871c7;
    width: auto;
    display: inline-block;
    line-height: 45px;
}
ul.product-list li:hover {
    box-shadow: none;
}
ul.product-list li {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 22%;
}
.frame-box {
    display: block !important;
}
ul.product-list li .frame-img {
    padding: 0px;
    overflow: hidden;
    height: 176px;
}
ul.product-list li .frame-img img {
    width: auto;
    height: auto;
    max-width: 100%;
}
ul.product-list li .pro-name {
    overflow: hidden;
    line-height: 40px;
    text-align: center;
}
ul.product-list li .pro-name h3 {
    font-size: 14px;
    
    font-weight: 500;
    text-transform: uppercase;
    color: #1871c7;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
ul.product-list li .pro-name span {
    display: block;
}
.home-price {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #f2f2f2;
}
.box-about-us .header {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #1871c7;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 20px;
}
.home-about {
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #f2f2f2;
}
.home-about .header {
    width: 100%;
    float: left;
    margin-bottom: 50px;
    text-align: center;
}
.home-about .header h3 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.1;
    color: #1871c7;
    font-weight: bold;
    border-bottom: solid 1px #1871c7;
    width: auto;
    display: inline-block;
    line-height: 45px;
    margin-bottom: 20px;
}
.home-about .header p {
    font-size: 16px;
    color: #1871c7;
}
.ha-content1, .ha-content2, .ha-content3 {
    text-align: center;
    margin-top: 0 !important;
}
.home-about .ha-content1 img {
    width: 150px;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}
.home-about .ha-content2 img {
    width: 100px;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}
.home-about .ha-content3 img {
    width: 100px;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}
.ha-content1 p, .ha-content2 p, .ha-content3 p {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #1871c7;
}
.home-cus {
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.home-cus .owl-wrapper-outer ul {
    width: 1963px;
}
.home-cus .owl-wrapper-outer ul li{
    float: left;
}
.title-custumer-say {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #1871c7;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 20px;
}
.cus {
    padding: 0px 15px;
    width: 100%;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.cus-1 img {
    width: 130px;
    max-width: 100%;
    border-radius: 50%;
}
.cus-2 {
    width: 100%;
    text-align: center;
}
.cus-write p {
    height: 53px;
    overflow: hidden;
}
.cus-name {
    font-size: 16px;
    font-weight: 600;
}
.home-map {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-map .header {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}
.home-map .header h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #1871c7;
    font-weight: bold;
    border-bottom: solid 1px #1871c7;
    width: auto;
    display: inline-block;
    line-height: 45px;
}
.home-map .map {
    width: 100% !important;
}
.home-letter {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.news-letter {
    width: 100%;
    float: left;
    text-align: center;
}
.txt-header-letter {
    font-size: 30px;
    text-transform: uppercase;
    color: #1871c7;
    font-weight: bold;
    line-height: 45px;
    width: 100%;
    float: left;
    height: auto;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.box-input {
    width: 60%;
    display: inline-block;
    border: solid 1px #000;
    line-height: 42px;
    height: auto;
    overflow: hidden;
}
.ft-content {
    width: 45%;
}
.ft-fanpage {
    width: 30%;
}
.ft-social {
    width: 25%;
}
.box-footer {
    margin-top: 0px;
    padding: 0px;
    border: none;
    background: none;
}
.box-face {
    margin-top: 0px;
}
.box-social-network {
    text-align: center;
}
.box-text-footer p {
    color: #000;
}
footer {
    padding-top: 50px;
    padding-bottom: 5px;
    background: #2e3133;
    width: 100%;
    float: left;
}
.box-footer p:first-child {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    line-height: 24px;
}
.box-footer p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
}
.box-social-network .body-network {
    position: initial;
    top: initial;
    right: initial;
}
.box-social-network .header {
    width: 100%;
    float: left;
    padding: 0px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-social-network ul.body-social {
    float: none;
    display: inline-block;
}
.body-social li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    border: solid 1px #fff;
    color: #fff;
    border-radius: 3px;
}
.coppy-r {
    line-height: 35px;
	width: 95%;
    float: left;
    border-top: solid 1px #fff;
    margin-top: 20px;
    margin-left: 25px;
}
.coppy-r .cp-l {
    text-align: left;
    font-size: 13px;
    color: #fff;
    padding-left: 0;
}
.coppy-r .cp-r {
    text-align: right;
    font-size: 13px;
    color: #fff;
}
.coppy-r .cp-r a {
    font-size: 13px;
    color: #fff;
}
#btnNewsLetter{
    width: 22%;
}
#txtEmail{
    width: 77%;
}
@media screen and (max-width: 480px){
    .bg-th-r {
        padding-bottom: 50px;
    }
    .content-all-bookcar, .content-all-bookcar marquee{
        height: 250px;
    }
    .box-product-hot ul.body-pro li .img-view {
        height: 200px;
    }
    ul.product-list li .frame-img {
        height: 188px;
    }
    ul.product-list li {
        width: 95%;
    }
    .box-product-hot ul.body-pro li {
        width: 100%;
    }
    .ft-content {
        width: 100%;
    }
    .ft-fanpage {
        width: 100%;
        height: 30px;
    }
    .ft-social {
        width: 100%;
    }
    .coppy-r .cp-r {
        text-align: center;
        margin-top: 0;
        padding-left: 0;
    }
    .coppy-r{
        margin-left: 10px;
    }
    .box-input {
        width: 100%;
    }
    #btnNewsLetter{
        width: 37%;
    }
    #txtEmail{
        width: 60%;
    }
}

@media screen and (width: 768px){
    .bg-th-r {
        padding-bottom: 105px;
    }
    .box-product-hot ul.body-pro li .img-view {
        height: 115px;
    }
    .content-all-bookcar, .content-all-bookcar marquee{
        height: 152px;
    }
    ul.product-list li {
        width: 47%;
    }
    .coppy-r{
        width: 100%;
        margin-left: 0px;
    }
    .box-input {
        width: 100%;
    }
    #txtEmail{
        width: 77%;
    }
}

@media (min-width: 960px){
    .bg-th-r {
        padding-bottom: 25px;
    }
    ul.product-list li {
        width: 47%;
    }
    .content-all-bookcar, .content-all-bookcar marquee{
        height: 240px;
    }
    #btnNewsLetter{
        width: 23%;
    }
    #txtEmail {
        width: 76%;
    }
}
@media (min-width: 1200px){
    .bg-th-r {
        padding-bottom: 150px;
    }
    ul.product-list li {
        width: 23%;
    }
}