.nav-main {
    width: 99.99%;
    height: 40px;
    background: #0095d6;
    float: left;
}
a , a:hover{
    text-decoration: none;
}
img {
    border: 0px;
}
h1,h2,h3,h4,h5,p,ul,ol,li,form {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.nav-menu {
    width: 100%;
    height: auto;
    float: left;
}
ul.nav-menu li {
    width: auto;
    height: auto;
    position: relative;
    float: left;
}
ul.nav-menu {
    width: 100%;
    height: auto;
    float: left;
}

ul.nav-menu li {
    width: auto;
    height: auto;
    position: relative;
    float: left;
}

ul.nav-menu li a {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    margin: 0;
    padding: 0 19px;
    text-decoration: none;
    position: relative;
    width: auto;
}

ul.nav-menu li:hover a {
    background: #ffffff;
    border-top: 2px solid #ffd401;
    color: #0095d6;
    line-height: 40px;
}

ul.nav-menu li:hover ul a {
    background: none;
    border-top: 0px solid #ffd401 !important;
    color: #000000;
    font-weight: normal;
}

ul.nav-menu li.active a {
    background: #ffffff none repeat scroll 0 0;
    border-top: 2px solid #ffd401;
    color: #0095d6;
    line-height: 40px;
}

ul.nav-menu li ul.sub-menu {
    display: none;
}

ul.nav-menu li:hover ul.sub-menu {
    width: 230px;
    height: auto;
    position: absolute;
    background: #ffffff;
    top: 40px;
    left: -1px;
    display: block;
    z-index: 9999;
    padding: 0px;
    border: 1px solid #dfdfdf;
    border-top: 0px;
    float: left;
}
.box-product-new {
    width: 100%;
    height: auto;
    float: left;
}
.box-product-hot {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}
.box-product-hot ul.body-pro {
    width: 100%;
    height: auto;
    float: left;
}
.box-product-hot ul.body-pro li {
    width: 100%;
    height: auto;
    float: left;
}
.box-product-hot ul.body-pro li img {
    margin-right: 4px;
    width: 60px;
}
.box-pro-sub {
    width: 100%;
    height: auto;
    float: left;
}
.sub-top {
    margin-top: 10px !important;
}
ul.product-list {
    width: 100%;
    height: auto;
    float: left;
}
ul.product-list li {
    background: #ffffff;
    float: left;
    height: auto;
    padding-bottom: 20px;
    width: 23%;
}
.frame-box {
    position: relative;
}
ul.product-list li .frame-img {
    width: 100%;
    height: 180px;
    text-align: center;
    padding: 5px;
    float: left;
}
ul.product-list li .frame-img img {
    width: 80%;
    height: auto;
}
ul.product-list li .pro-name {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 13px;
    display: table;
    position: relative;
    text-decoration: none;
    float: left;
}
ul.product-list li .pro-name span {
    display: table-cell;
    vertical-align: middle;
}
.owl-carousel .owl-item{
    float: left;
}
.boder-color {
    border-color: #0095d6 !important;
}
.box-footer {
    width: 100%;
    height: auto;
    background: #0095d6;
    padding: 10px;
    color: #ffffff !important;
    margin-top: 15px;
    border-top: 2px solid #f74d88;
    float: left;
}
.box-face {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}
.box-social-network {
    width: 100%;
    height: auto;
    z-index: 999;
    position: relative;
    float: left;
}
.box-footer {
    width: 100%;
    height: auto;
    background: #0095d6;
    padding: 10px;
    color: #ffffff !important;
    margin-top: 15px;
    border-top: 2px solid #f74d88;
    float: left;
}
.box-social-network ul.body-social li {
    padding: 5px;
    float: left;
}
