fieldset{
    /* margin-top: 50px; */
    background-color: azure;
}
.btn-button{
    margin-top: 10px;  
}
#bg {
    padding-bottom: 70px;
    padding-top: 70px;
}
.mr-top-20 {
    margin-top: 20px !important;
}