.App {
  text-align: center;
  background-color: #f7f4f4;
  min-height: 965px;
}
.App-link {
  color: #61dafb;
}
.container{
  background-color: #f9f0ca;
  min-height: 965px;
  padding: 0 30px;
}
.m-action_item{
  margin-bottom: 15px;
  list-style-type: none;
}
.a-btn-menu {
  text-align: left;
  font-size: 2.5rem;
  line-height: 1;
  padding: 37px 15px 37px 100px;
  box-shadow: 4px 4px 4px 0 rgba(199, 188, 157, 0.4);
  color: #262223;
  background: #fff;
  display: block;
  position: relative;
}
.o-container_unit {
  width: 50%;
  margin: auto;
  padding-left: 0;
}
.home, .post-form, .history, .post-form-ok {
  padding-top: 60px;
}
h1 {
  font-size: 30pt;
  margin-bottom: 40px;
  text-transform: capitalize;
}
form label {
  text-align: left;
  font-size: 12pt !important;
}
#btn-back {
  margin-left: 15px;
}
.label-style {
  margin-left: -15px !important;
}
.color-nodata{
  color: red;
  font-weight: bold;
  text-align: center !important;
}
.icon {
  margin: 0px !important;
}
.uk-checkbox{
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.uk-radio{
  margin-right: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
