.mr-top-7px {
    margin-top: 7px;
}
.mr-left-7px {
    margin-left: 7px;
}
#thongbao{
    text-align: center;
    color: red;
}
.button-edit{
    background-color: #218838;
    color: white;
}
.button-edit:hover{
    background-color: #147028;
}
.button-del{
    background-color: #e00808;
    color: white;
}
.button-del:hover{
    background-color: #c11111;
}
.button-search{
    background-color: #ed9f31;
    color: white;
}
.button-search:hover{
    background-color: #ed8f0b;
}
#tableSV{
    margin-bottom: 150px;
}
.title {
    font-weight: 500;
}
#div-button-del{
    margin-top: 10px;
    display: none;
}
#border{
    border:10px solid #d4edda;
    margin-top: 30px;
}
#pa-l-0{
    padding-left: 0;
}