.uk-calculator{
    border: 2px solid gray;
}

.uk-calculator-content{
    border: 1px solid gray;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.group-button{
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
}
.btn{
    margin: 0;
    /* padding: 0; */
}
.grp{
    width: 100%;
}
.grp1{
    width: 32%;
    margin-top: 5px;
}
.uk-button-success{
    background-color: #5cb85c;
    color: rgb(247, 241, 241);
}